**/.netrwhist
**/.tmux/sidebar/directory_widths.txt
environments/default/.tmux/plugins/tmux-battery
environments/default/.tmux/plugins/tmux-pain-control
environments/default/.tmux/plugins/tmux-sensible
environments/default/.tmux/plugins/tmux-sidebar
environments/default/.tmux/plugins/tmux-online-status
environments/default/.tmux/plugins/tmux-prefix-highlight
environments/default/.tmux/plugins/vim-tmux-focus-events
environments/default/.vim/bundle/YouCompleteMe
environments/default/.vim/bundle/vim-tmux-navigator
environments/default/.vim/bundle/vim-surround
environments/default/.vim/bundle/vim-rspec
environments/default/.vim/bundle/vim-rails
environments/default/.vim/bundle/vim-ragtag
environments/default/.vim/bundle/vim-puppet
environments/default/.vim/bundle/vim-json
environments/default/.vim/bundle/vim-javascript
environments/default/.vim/bundle/vim-indent-guides
environments/default/.vim/bundle/vim-haml
environments/default/.vim/bundle/vim-fugitive
environments/default/.vim/bundle/vim-dispatch
environments/default/.vim/bundle/vim-csharp
environments/default/.vim/bundle/vim-colorschemes
environments/default/.vim/bundle/vim-coffee-script
environments/default/.vim/bundle/vim-bufferline
environments/default/.vim/bundle/vim-airline
environments/default/.vim/bundle/tmuxline.vim
environments/default/.vim/bundle/tagbar
environments/default/.vim/bundle/syntastic
environments/default/.vim/bundle/supertab
environments/default/.vim/bundle/rainbow_parentheses.vim
environments/default/.vim/bundle/python-syntax
environments/default/.vim/bundle/promptline.vim
environments/default/.vim/bundle/Omnisharp
environments/default/.vim/bundle/nimrod.vim
environments/default/.vim/bundle/nerdtree
environments/default/.vim/bundle/nerdcommenter
environments/default/.vim/bundle/html5.vim
environments/default/.vim/bundle/dash.vim
environments/default/.vim/bundle/ctrlp.vim
environments/default/.vim/bundle/cmdalias.vim
environments/default/.tmux/plugins/tmux-scroll-copy-mode
