[user]
	name = Andreas Marr
	email = monolar@monolar.org
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	editor = subl -n -w
	excludesfile = ~/.global_gitignore
[mergetool]
	keepBackup = true
[push]
	default = simple
