[user]
	name = Andreas Marr
	email = monolar@monolar.org
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	editor = vim
	excludesfile = ~/.global_gitignore
[mergetool]
	keepBackup = true
[push]
	default = simple
	followTags = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[aliases]
	pure          = pull --rebase
